.digital-frame {
    position: relative;
    width: 60%;
    z-index: 2;
    height: fit-content !important;
    background: #000000;
}

.digital-mask {
    width: 100%;
    z-index: 3 !important;
}

.object-video {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 90%;
    z-index: -1 !important;
}