.popup-menu {
}

.link-item {
    width: 100px;
    font-size: 25px;
    position: fixed;
    right: -100px;
    width: fit-content;
    background-color: rgb(18, 74, 158);
    z-index: 99;
    padding: 10px;
    border: 1px solid #ffffff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    transition: 0.3s;
}

.link-item:hover {
    right: -2px;
}

.link-item-mint {
    top: 40%;
}

.link-item-dex {
    top: 50%;
}

.popup-menu a {
    text-decoration: none;
    color: #ffffff;
}